*{
  margin: 0;
  padding: 0;

}
.container{
  background: linear-gradient(to right bottom, #e1b382, #b84a06);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #c4c2c3;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #098;

}